{% extends "layout.html" %}
{% block title %}blog index - {% endblock %}
{% block head %}
    {{ super() }}
    <link rel=stylesheet href=/static/style/blog.css type=text/css>
{% endblock %}
{% set active_page = "Blog" %}
{% block page %}
<div class="vertical-space-uncollapsable"></div>
<div class="box">
{% for post in posts %}
    <div class="post-name">
        <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">
            {{ post.title }}
        </a>
        <br>
        <small>{{ post.published }}</small>
    </div>
{% endfor %}
</div>
{% endblock %}