{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel=stylesheet href=/static/style/home.css type=text/css>
{% endblock %}

{% block page %}
<div class="vertical-space-uncollapsable"></div>
<div class="project-shelf">
    <a href="https://github.com/arzeid/mywebsite"  class="project-link" target="_blank"><div class="project-box"><br/>
        <b>mywebsite</b>
        <br/><div class="project-box-text">
            Personal site. Written in python, with some front end javascript.
        </div>
    </div></a>
    <a href="/blog"  class="project-link"><div class="project-box"><br/>
        <b>blog</b>
        <br/><div class="project-box-text">
            Markdown posts, served with the help of flask-flatpages
        </div>
    </div></a>
    <a href="/shorten" class="project-link"><div class="project-box" target="_blank"><br/>
        <b>shorten</b>
        <br/><div class="project-box-text">
            Takes your long url and gives you a short one.
        </div>
    </div></a>
    <!--
    <a href="#"  class="project-link"><div class="project-box"><br/>
        zzzzzzz
        <br/><br/><div class="project-box-text">
            zzzzzzz. zzzzzz zz zzzzz,zzzzz zzzz zzz zzz zz.
        </div>
    </div></a>
    <a href="#"  class="project-link"><div class="project-box"><br/>
        zzzzzzz
        <br/><br/><div class="project-box-text">
            zzzzzzz. zzzzzz zz zzzzz,zzzzz zzzz zzz zzz zz.
        </div>
    </div></a>
    <a href="#"  class="project-link"><div class="project-box"><br/>
        zzzzzzz
        <br/><br/><div class="project-box-text">
            zzzzzzz. zzzzzz zz zzzzz,zzzzz zzzz zzz zzz zz.
        </div>
    </div></a>
    -->
    
</div>
<div class="vertical-space-uncollapsable"></div>
{% endblock %}