<!DOCTYPE html>
<html>
<head>
{% block head %}
<title>{% block title %}{% endblock %} Abdelrahmein Zeid</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript" src="/static/javascript/css_engine.js"></script>
<link rel="shortcut icon" href="/static/favicon.ico">
<link rel=stylesheet href=/static/style/layout.css type=text/css>
{% endblock %}
</head>

{% set navigation_bar = [
    ('/', 'Home', 'in'),
    ('/blog/', 'Blog', 'in'),
    ('https://drive.google.com/file/d/0B7CoVsAaa3azbmhhU2dsd2p4TDg/view?usp=sharing', 
        'Resume', 'out'),
    ('/shorten/', 'Shorten', 'in')
] -%}
{% set active_page = active_page|default('Home') -%}

<div id="container">
    <div id="header">

        <h1><a href="/" id="logo">Abdelrahmein Zeid</a></h1>
        <!--<hr/>-->
        <div id="topnav-menu">
            <span class="align-left">
                <a href="/">
                    A.Zeid
                </a>
            </span> 
            <span id="topnav-menu-button">
                <a href="javascript:void(0);">
                    ☰ {{active_page}}
                </a>
            </span>
        </div>
        <ul class="topnav">
            
            {% for href, id, location in navigation_bar %}
            <li {%if id == active_page %} class="active-page" {% endif%}>
                <a href="{{ href|e }}" 
                {%if location == 'out' %}target="_blank"{% endif%}>
                {{ id|e }}
                </a>
            </li>
            {% endfor %}
            
            <!--
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropbtn">Projects &#9662;</a>
                <div class="dropdown-content">
                  <a href="/shorten">Shorten</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
            </li>
            -->
        </ul>
    </div>
    
    <div id="body">
        
        <div class="vertical-space"></div>

        {% block page %}{% endblock %}
        
        <div class="vertical-space"></div>
        
    </div>
</div>    

<footer>
    <div class="footer-margin"></div>
    <!--
    <a href="http://www.facebook.com/abdelrahmein.zeid" target="_blank">
        <img src="/static/social-icons/facebook.png"
             srcset="/static/social-icons/facebook.svg"
             alt="facebook icon" class="social-icons">
    </a>
    -->
    <a href="mailto:arzeid.1994@gmail.com" target="_blank">
        <img src="/static/social-icons/gmail.png"
             srcset="/static/social-icons/gmail.svg"
             alt="gmail icon" class="social-icons">
    </a>
    <a href="https://ca.linkedin.com/in/abdelrahmein-zeid" target="_blank">
        <img src="/static/social-icons/linkedin.png"
             srcset="/static/social-icons/linkedin.svg"
             alt="linkedin icon" class="social-icons">
    </a>
    <a href="https://github.com/arzeid" target="_blank">
        <img src="/static/social-icons/github.png"
             srcset="/static/social-icons/github.svg"
             alt="github icon" class="social-icons">
    </a>
    <a href="https://soundcloud.com/arzeid" target="_blank">
        <img src="/static/social-icons/soundcloud.png"
             srcset="/static/social-icons/soundcloud.svg"
             alt="soundcloud icon" class="social-icons">
    </a>
</footer>
</html>