{% extends "blog.html" %}
{% block title %}{{ post.title }} - {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block page %}
<div class="vertical-space-uncollapsable"></div>
<div class="box">
    <h2>{{ post.title }}</h2>
    <span>{{ post.published }}</span>
    <br>
    <div class="collapsed-border"></div>
    <div class="post-box" style='display: block;'>
        {{ post.html|safe }}
    </div>
    <span class='post-category'>{{ post.category }}</span>
</div>
{% endblock %}
