{% extends "shorten.html" %}
{% block title %}Details about /{{ short_id }} - {% endblock %}
{% block body %}
<h3>
    URL Information for 
        <span class="shorten_link">
            <a href="/shorten/{{ short_id }}" target="_blank" 
               id="short_link">
                {{short_id}}
            </a>
        </span>
</h3>
<dl id='url-information'>
    <div class="row">
        Short link: 
        <a href="/shorten/{{ short_id }}" target="_blank">
        azeid.com/{{short_id}}
        </a>
    </div>
    <div class="row">
        Full link: {{ link_target }}
    </div>
    <div class="row">
        Click count: {{ click_count }}
    </div>
</dl>
{% endblock %}