{% extends "layout.html" %}
{% block title %}Workshops Index - {% endblock %}
{% block head %}
    {{ super() }}
    <link rel=stylesheet href=/static/style/workshop.css type=text/css>
{% endblock %}
{% set active_page = "Workshops" %}
{% block page %}
<div class=box>
    
    
    <dl>
      {% for key, value in workshops.iteritems() %}
            <dt><a href="{{ url_for('workshop_view', name=key) }}">{{ key }}</a></dt>
            <dd>{{ value }}</dd>
      {% endfor %}
    </dl>
</div>
{% endblock %}